<body>
    <h1>ABOUT ME </h1>
    <div class="info" id="about">
         
        <p>I'm a skilled software developer with 3 years of experience in Java, <br>
            including 1 year of hands-on work with Spring Boot and Python. <br>
            I have strong expertise in Angular and TypeScript, and<br>
            I'm familiar with Firebase and MySQL. <br>
            I'm committed to continuous learning and staying current with the latest <br>
            technologies to deliver high-quality solutions.</p>
        <br>    
        <p>Education
            <br><h4>2023-Current</h4>WeThinkCode_
            
            System Development (NQF Level 5)<br>
            Currently in the final year of a rigorous system development program, specializing<br> in full stack Java development and software engineering<br> principles. <br>
            </p><br>

        <p >Experience
            <br><h4>2019-2023</h4>
            
            <br>Self-Taught Programming
            2021 - 2022
            
            Independently studied programming concepts, focusing<br> on foundational languages like Java and Python, and building a solid understanding of<br> software development.<br>
        </p>

        <p href="https://www.freecodecamp.org/certification/MontelWood/scientific-computing-with-python-v7">Certifications
            <br>Python Certification - freeCodeCamp
            <br>Obtained: 2021

            <br>Completed comprehensive training in Python, <br>covering fundamentals and advanced topics.
        </p>
    </div> 
    <br><br><br>
</body>


