<body>
    <h1>ABOUT ME </h1>
    <div class="info" id="about">
         
        <p>I am a skilled software developer with 3 years of experience in Java, complemented by 1 year of hands-on experience with Spring Boot and Python.<br> 
            My expertise extends to implementing interactive features using modern frameworks and libraries, making me well-versed in Angular and TypeScript.<br> 
            While I am proficient in Java and have a solid grasp of Spring Boot and Angular, I am continuously expanding my knowledge in TypeScript and Python, striving to become fully competent in these languages. <br>
            Additionally, I am familiar with Firebase and MySQL, which further enhance my ability to develop robust and scalable applications. I am committed to learning and growing daily,<br> 
            staying up-to-date with cutting-edge technologies to deliver high-quality solutions.</p>
        <br>    
        <p>Education
            <br><h4>Current</h4>WeThinkCode_
            <br><h4>2019-2023</h4> 
            
            Self taught programming. Lorem<br>
            ipsum dolor sit amet. Ipsum dolor sit<br>
            amet.</p><br>

        <p>Experience
            
            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
        </p>
    </div> 
    <br><br><br>
</body>


