#typed-output {
    font-family: monospace;
    white-space: pre;
    font-size: 1.5em;
    color: #041C32;
  }
h1,h4{
    color:#ECB365ff;
}

p{
  font-size: 160%;
  color: black;
}

.info{
  margin-top:6%;
  margin-left: 45%;
}

html{
  background-color: #041C32;
}