#typed-output {
    font-family: monospace;
    white-space: pre;
    font-size: 1.5em;
    color: #041C32;
  }
h1{
    color:#ECB365ff;
}

p{
  font-size: 160%;
  color: white;
}

.info{
  margin-top:19%;
  margin-left: 14%;
}

html{
  background-color: #041C32;
}