<body>
    
    <!-- <input type="text" pInputText class="p-inputtext-lg">  -->
    <div class="form-container">
        <div id="contact">
            <h1>CONTACT ME</h1><br>
            <!-- make the icons here -->

            <p>
                <img src="assets/9055445_bxs_paper_plane_icon.svg" alt="Email Icon" width="40" height="40"> montelwood&#64;gmail.com
            </p>

            <p>
                <img src="assets/1608789_phone_square_icon(1).svg" alt="Phone Icon" width="40" height="40"> 068 255 1071
            </p>

            <p class="Linkedin">
                <a href="https://www.linkedin.com/in/wood26/" target="_blank">
                    <img src="assets/326115_linkedin_linked_linked in_logo_icon.svg" alt="LinkedIn" width="40" height="40">
                    montel26
                </a>
            </p>
            
            <br>

            <input type="submit" value="Download CV" styleClass="custom-button">

        </div>

        <div>
           <form action="#">
            
            <input type="text" id="name" name="name" placeholder="Name">
            <br>
            
            <input type="email" id="email" name="email" placeholder="Email">
            <br>
           
            <textarea id="message" name="message" placeholder="Message" rows="9"></textarea>
            <br>
            <input type="submit" value="Submit">
            </form>
        </div>
        
        
    </div>
    <br><br>
    
    <footer>Copyright &#64;MontelWood 2024</footer>
        
</body>

