<body>
    <app-sidebar></app-sidebar>
    

    <!-- <input type="text" pInputText class="p-inputtext-lg">  -->
    <div class="form-container">
        <div id="contact">
            <h1>CONTACT ME</h1><br><br><br>
            <!-- make the icons here -->



        </div>

        <div>
           <form action="#">
            
            <input type="text" id="name" name="name" placeholder="Name">
            <br>
            
            <input type="email" id="email" name="email" placeholder="Email">
            <br>
           
            <textarea id="message" name="message" placeholder="Message" rows="5"></textarea>
            <br>
            <input type="submit" value="Submit">
            </form>
        </div>
        
        
    </div>
    <footer>Copyright &#64;MontelWood 2024</footer>
        
</body>

