<body>
    <h1>Contact Me</h1><br><br><br>

    <!-- <input type="text" pInputText class="p-inputtext-lg">  -->
    <div class="message">
        <div class="nameBlock">
            <textarea 
            rows="5"
            cols="30" 
            pInputTextarea 
            [autoResize]="true">
            </textarea>

        </div>
        <br>
        <div class="email">
            <textarea 
                rows="5"
                cols="30" 
                pInputTextarea 
                [autoResize]="true">
            </textarea>  
        </div>
        <br>
        <div class="MessageMe">

            <textarea 
            label="Message me"
            rows="5"
            cols="30" 
            pInputTextarea 
            [autoResize]="true">
            </textarea>
        </div>
        <br><br><br>
        <div class="Btn">
            <!-- Ill have to do it myself.  -->
        </div>
    </div>
</body>

