<body>
    <app-sidebar></app-sidebar>
    

    <!-- add images from working apps and freelance stuff -->
    <div class="info">
        <h1>PROJECTS</h1><br><br><br>
        <div></div>
    </div>
    <!-- make a icon of my languages i know skill -->

    <div class="skills-container">
        <h1 class="heading">SKILLS</h1>

        <div class="skills">
            <div class="skill" id="skills">
                <img src="assets/java-original.svg" alt="Java">
                
            </div>
            <div class="skill">
                <img src="assets/typescript-original.svg" alt="typescript">
   
            </div>
            <div class="skill">
                <img src="assets/spring-original.svg" alt="springboot">
                
            </div>
            <div class="skill">
                <img src="assets/python-original.svg" alt="python">
                
            </div>
            <div class="skill">
                <img src="assets/firebase-original-wordmark.svg" alt="">
                
            </div>
            <div class="skill">
                <img src="assets/angular-original.svg" alt="angular">
                
            </div>
            <div class="skill">
                <img src="assets/npm-original-wordmark.svg" alt="npm">
                
            </div>
            <div class="skill">
                <img src="assets/nodejs-original-wordmark.svg" alt="node">
                
            </div>
            <div class="skill">
                <img src="assets/mysql-original-wordmark.svg" alt="mysql">
                
            </div>
        </div>
        
    </div>
</body>
