.sidebar{
    background-color: #04293A;
    color: #fff;
    width: 100px;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 0;

}
.bi{
    color: #064663;
    font-size: 5rem;
    padding-left: 4px;
    padding-top: 1rem;
    padding-bottom: 33px;
    
}
.bi:hover{
    color:#ECB365ff;
    background-color: #041C32ff;
    border-radius: 2rem;
    
}


.sidebar ul{
    list-style-type: none;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 0;
    padding-right: 0;

}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar img {
    width: 24px;
    margin-right: 10px;
}

@media (max-width:768){
    .sidebar{
        width: 100%;
        height: auto;
        padding: 0;
    }
    .sidebar img{
        width: 20px;
    }
}
