
// make a few changes when writing
#typed-output {
    font-family: monospace;
    white-space: pre;
    font-size: 1.5em;
    color: #041C32;
  }
h1{
    color:#ECB365ff;
}

p{
  font-size: 160%;
 
}
body{
  background-color: #041C32ff;
  color: #ffffff;
  overflow-x: hidden;
}

.info{
  padding-top: 13%;
  margin-left: 14%;
  z-index: 2;
}


