<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
</head>
<body>
    <!-- make a it fixed to side later -->
    <app-sidebar></app-sidebar> 
    <div class="info" id="home">
        <h1>FULLSTACK JAVA <br> DEVELOPER <br><br> HI, I’M MONTEL WOOD.</h1>

        <p>
            An experienced Java developer<br> with a passion for programming and technology.<br> 
            I am expanding my expertise into frontend development,<br> continuously enhancing my skills <br> to create dynamic and interactive user experiences.
        </p>
            
    </div>
    <app-about></app-about>
    <app-skills></app-skills>
    
</body>
</html>
