
// make a few changes when writing
#typed-output {
    font-family: monospace;
    white-space: pre;
    font-size: 1.5em;
    color: #041C32;
  }
h1{
    color:#ECB365ff;
}

p{
  font-size: 160%;
 
}
body{
  // background-color: #041C32ff;
  background: none;
  color: #ffffff;
  overflow-x: hidden;
}

.info{
  padding-top: 5%;
  margin-left: 14%;
  z-index: 1;
  // position: absolute;
  top: 50%;
}
.vid{
  position: fixed;
  // transform: translate(0,-60%);
  top: 0;
  z-index: -1;
}


